{{define "add"}}
<!DOCTYPE html>
<html>
    {{ template "head" "Add"}}
<body>
    {{ template "header" "Add"}}
    <main>
    <form method="POST" action="/add">
        <input type="text" name="blockData" placeholder="Data for your block" required />
        <button> Add block </button>
    </form> 
    </main>
    {{ template "footer"}}
</body>
</html>
{{end}}